@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Iceland&family=Press+Start+2P&family=VT323&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #211951;
}